<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="main col-7 ml-auto mr-auto">
      <div class="font-1-3 font-weight-500 mt-4 text-center">
        Subscribe For Get Notification
      </div>

      <div class="row">
        <div class="col">
          <form
            role="form"
            class="m-t-30"
            [formGroup]="rForm"
            (ngSubmit)="submitForm()"
          >
            <div class="">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Name</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  placeholder="Enter Email"
                  type="text"
                  formControlName="name"
                />

                <mat-error
                  *ngIf="
                    !rForm.controls['name'].valid &&
                    rForm.controls['name'].touched
                  "
                  >Name is required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Email</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  placeholder="Enter Email"
                  type="text"
                  formControlName="email"
                />

                <mat-error
                  *ngIf="
                    !rForm.controls['email'].valid &&
                    rForm.controls['email'].touched
                  "
                  >Valid email is required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >company Name</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  placeholder="Enter company name"
                  type="text"
                  formControlName="company"
                />

                <mat-error
                  *ngIf="
                    !rForm.controls['company'].valid &&
                    rForm.controls['company'].touched
                  "
                  >company name is required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="d-flex w-100">
              <button
                type="submit"
                mat-flat-button
                color="primary"
                class="w-auto ml-auto"
                [disabled]="!rForm.valid"
              >
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <app-loader *ngIf="loading"></app-loader> -->
