<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="row col-12 d-flex m-0">
        <div class="col-lg-12 mt-30" *ngIf="true">
          <mat-card class="cardWithShadow">
            <mat-card-content class="p-24">
              <div class="">
                <div class="row">
                  <div class="col-7">
                    <mat-card-title>Notified Users</mat-card-title>
                  </div>
                </div>
              </div>

              <div class="table-responsive mt-4" *ngIf="dataList?.length">
                <table class="w-100 table-borderless mt-3">
                  <thead>
                    <tr>
                      <!-- Header columns -->
                      <th class="mat-subtitle-1">Time</th>
                      <th class="mat-subtitle-1">name</th>
                      <th class="mat-subtitle-1">Email</th>
                      <th class="mat-subtitle-1">company</th>
                      <th class="mat-subtitle-1">distance (m)</th>
                      <th class="mat-subtitle-1">status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Table data -->
                    <tr *ngFor="let element of dataList">
                      <!-- Joined Date -->
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="">
                            <h6 class="mat-subtitle-1 f-s-14 f-w-700">
                              {{
                                element?.created_at | date : "dd/MM/yy HH:mm:ss"
                              }}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="">
                            <h6 class="mat-subtitle-1 f-s-14 f-w-700">
                              {{ element?.name ? element?.name : "-" }}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="">
                            <h6
                              class="mat-subtitle-1 f-s-14 f-w-700"
                              *ngIf="element?.name"
                            >
                              {{ element?.name | truncateText : 7 }}
                            </h6>
                            <h6
                              class="mat-subtitle-1 f-s-14 f-w-700"
                              *ngIf="!element?.name"
                            >
                              -
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="">
                            <h6 class="mat-subtitle-1 f-s-14 f-w-700">
                              {{ element?.company ? element?.company : "-" }}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="">
                            <h6 class="mat-subtitle-1 f-s-14 f-w-700">
                              <div class="" *ngIf="element?.distance">
                                {{ element?.distance | number : "1.2-2" }}
                              </div>
                              <div class="" *ngIf="!element?.distance">
                                {{ 0 | number : "1.2-2" }}
                              </div>
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="">
                            <span
                              class="bg-light-success f-s-14 f-w-600 pb-1 pl-3 pr-3 pt-1 rounded text-success"
                            >
                              Sended
                            </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="no-data-comp" *ngIf="!dataList?.length">
                <i
                  class="fa fa-exclamation-triangle mb-1 font-2-8 text-grey"
                  aria-hidden="true"
                ></i>
                <div class="font-weight-bold text-grey">No Data</div>
              </div>

              <!-- <div
                class="mt-5 text-right"
                [ngClass]="{
                  ' opacity-0 ': !totalItems
                }"
              >
                <pagination-controls
                  class="custom-pagination"
                  [autoHide]="true"
                  (pageChange)="onPageChanged($event)"
                >
                </pagination-controls>
              </div> -->
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="loading"></app-loader>

  <!-- <div class="bottom-fixed d-flex mb-2 mr-2 w-100">
    <button
      type="submit"
      mat-flat-button
      color="primary"
      class="w-auto ml-auto border-radius-10"
      (click)="openSubscriptionModel()"
    >
      <div class="d-flex align-items-center">
        <i class="fa-bell far font-1"></i>
        <div class="ml-1">Subscribe</div>
      </div>
    </button>
  </div> -->
</div>
